{% extends "admin/layout.html" %}
{% block title %}Добавить план{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <br><br><br>
        <div class="col-lg-7">
            <form action="/admin/config/" method="post">
                <div class="form-group">
                    <input type="hidden" id="id" name="id" class="form-control" value="{{ item.id }}">
                    <label for="name">Название:</label>
                    <input type="text" id="name" name="name" class="form-control" value="{{ item.name }}">
                    <label for="value">Значение:</label>
                    <input type="text" id="value" name="value" class="form-control" value="{{ item.value }}">
                    <br>
                    <input type="submit" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}