<section id="about">
    <h2 class="text-center text-uppercase font-weight-bold">О нас</h2>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2632.0547227765333!2d37.60738431587527!3d48.72354601814544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40df96f414436e13%3A0x4838fb1d7d2a57a2!2z0KLQuNGC0LDQvQ!5e0!3m2!1sru!2sru!4v1487602287159"
                        width=480 height=340 frameborder=0 style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-6">
                <div class="about">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse optio dolores quisquam pariatur in aliquid rem provident ad est at sunt, eius inventore, harum fuga repellat beatae quaerat nulla sit.</p>
                    <p>Rem consectetur tenetur temporibus voluptatem animi modi quasi cum, suscipit, non possimus officia vel, quis optio! Sunt impedit, laborum aut odit ducimus, facere eius distinctio et illo sapiente, reiciendis. Ipsum?</p>
                    <p>Nobis repellat sed iste veritatis harum suscipit qui dolores totam eveniet odio maiores, velit enim quam quisquam provident eaque aut debitis beatae autem in ut deleniti. Voluptatum doloremque nostrum, asperiores.</p>
                    <p>Vero neque eaque minima, mollitia quis deserunt fuga quae voluptatum molestias, esse quibusdam enim debitis laborum modi. Obcaecati numquam optio excepturi distinctio earum asperiores quidem laudantium quos natus porro. Saepe?</p>
                    <p>Адрес: г. Краматорск ул.Паркова, 103</p>
                </div>
            </div>
        </div>
    </div>
</section>