<section id="about">
    <h2 class="text-center text-uppercase font-weight-bold">О нас</h2>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2632.0547227765333!2d37.60738431587527!3d48.72354601814544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40df96f414436e13%3A0x4838fb1d7d2a57a2!2z0KLQuNGC0LDQvQ!5e0!3m2!1sru!2sru!4v1487602287159"
                        width=480 height=340 frameborder=0 style="border:0" allowfullscreen></iframe>
                <br>
                <p>Адрес: г. Краматорск ул.Паркова, 103</p>
            </div>
            <div class="col-6">
                <div class="about">
                    <p>Будь вы новичок или заслуженный мастер спорта, наш тренажерный зал вас приятно удивит своим содержанием. Здесь вы сможете заниматься бодибилдингом, фитнесом, пауэрлифтингом,  или же просто привести себя в нужную форму и сбросить пару лишних килограмм.</p>

                    <p>В спортклубе "Титан" есть все для продуктивных и комфортных тренировок. В первую очередь это огромное разнообразие профессиональных тренажеров и спортивных снарядов, которые позволят тренировать каждую мышцу вашего тела. Это и станки для жима лежа, и замечательный гантельный ряд, и грифы, и широкий ассортимент блинов, которые позволят собрать штангу даже с чемпионским весом.</p>

                    <p>Спортивный клуб "Титан" – это не просто место, где можно стать сильнее, выносливее или построить красивое тело. Это зал с особой атмосферой и многолетней историей, где цели достигаются быстрее, а штанга кажется легче.</p>

                    <p>Несмотря на то, что тренажерный зал преимущественно ориентирован на работу с железом, у нас имеется и кардиозона, в которой с легкостью можете заставят биться ваше сердце в нужном ритме.</p>

                    <p>Как и подобает современному залу, здесь есть мужская и женская раздевалки, удобные туалеты и душевые. Для тех, кто переживает за сохранность личных вещей, в СК "Титан" предусмотрены камеры хранения, за которыми ведется видеонаблюдение. В качестве приятного дополнения в нашем тренажерном зале есть бесплатный Wi-Fi.</p>

                    <p>Атмосферу зала дополняет музыка, которая добавит боевого настроя и драйва перед тяжелым подходом.</p>

                    <p>Всем начинающим спортсменам, да и любому желающему, с удовольствием помогут и все покажут на личном примере опытные тренеры.</p>
                </div>
            </div>
        </div>
    </div>
</section>