<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">Copyright <span id="year"></span> | All Rights Reserved | Autor: x</div>
            <a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=www.titan-gym.ho.ua/&digit=style/plain/29/&reloads=0" alt="" title="" border="0"></a><br /><a href="http://" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;"></a>
        </div>
</section>