<section id="gallery">
    <h2 class="text-center text-uppercase font-weight-bold">Галерея</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="portfolio">
                    <a href="assets/images/DSC_0013.png" class="fancybox"><img src="assets/images/thumb_DSC_0013.png"></a>
                    <a href="assets/images/DSC_0020.png" class="fancybox"><img src="assets/images/thumb_DSC_0020.png"></a>
                    <a href="assets/images/DSC_0034.png" class="fancybox"><img src="assets/images/thumb_DSC_0034.png"></a>
                    <a href="assets/images/DSC_0037.png" class="fancybox"><img src="assets/images/thumb_DSC_0037.png"></a>
                </div>
            </div>
        </div>
    </div>

</section>