<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Спортивный зал "Титан"</title>
    <meta name="keywords" content="Фитнес клуб в Краматорске,тренажерный зал,фитнес,кардио,спорт,Титан">
    <meta name="description" content='В спортклубе "Титан" есть все для продуктивных и комфортных тренировок. В первую очередь это огромное разнообразие профессиональных тренажеров и спортивных снарядов, которые позволят тренировать каждую мышцу вашего тела. Это и станки для жима лежа, и замечательный гантельный ряд, и грифы, и широкий ассортимент блинов, которые позволят собрать штангу даже с чемпионским весом.'>
    <meta name="author" content="kabalx47@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/flexslider.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    {% include "main.html" %}
    {% include "menu.html" %}
    {% include "slider.html" %}
    {% include "services.html" %}
    {% include "about.html" %}
    {% include "gallery.html" %}
    {% include "plans.html" %}
    {% include "contacts.html" %}
    {% include "rules.html" %}
    {% include "footer.html" %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/jquery.flexslider-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>
</html>