<header>
    <div class="container">
        <div class="logo">Титан</div>
        <div class="logo-info">Спортивный зал в Краматорске </div>
        <div class="logo-phone"><i class="fa fa-phone" aria-hidden="true"></i> +38(095)137-06-13</div>
        <div class="navbar-items">
            <div class="navbar-item active"><a href="#main" class="scroll-link">Главная</a></div>

            {% for section in sections %}
                <div class="navbar-item"><a href="#{{ section.name|replace({'.html': ''}) }}" class="scroll-link">{{ section.title }}</a></div>
            {% endfor %}
        </div>
    </div>
</header>