<section id="plans">
    <h2 class="text-center text-uppercase font-weight-bold">Наши цены</h2>
    <div class="container">
        <div class="row">
            {% for plan in plans %}
            <div class="col-3 col-xs-12">
                <ul class="plan plan{{ loop.index }}">
                    <li class="plan-name">{{ plan.name }}</li>
                    <li><strong>Для взрослых</strong> {{ plan.price_adult }}</li>
                    <li><strong>Для студентов</strong> {{ plan.price_students }}</li>
                    <li><strong>Для школьников</strong> {{ plan.price_schools }}</li>
                </ul>
            </div>
            {% endfor %}
            <i>{{ onetime_training|raw }}</i>
        </div>
    </div>
</section>