<section id="rules">
    <h2 class="text-center text-uppercase font-weight-bold">Общие правила клуба</h2>
    <div class="container">
        <div class="row">
            <ol>
                <li>Фитнес-клуб «Титан» не является медицинским учреждением и не осуществляет оказание услуг по медицинскому обеспечению Клиента (оценка состояния здоровья, наблюдение и контроль за состоянием здоровья, в том числе во время тренировок или  во время нахождения в клубе и т.п.).</li>
                <li>Предоставляя свои услуги, разрабатывая любые индивидуальные или групповые программы для Клиента, фитнес-клуб «Титан» руководствуется тем, что Клиент не имеет </li>противопоказаний для занятий физической культурой.
                <li>Клиент несёт персональную ответственность за своё здоровье. Если во время занятий  Вы  почувствовали недомогание, Вы обязаны прекратить занятия и обратиться за </li>медицинской помощью. Фитнес-клуб «Титан» не несет ответственности за возможный причиненный ущерб Вашему здоровью или жизни.
                <li>Фитнес-клуб «Титан» не несет ответственности за вред здоровью или имуществу, причиненный противоправными действиями третьих лиц, в том числе не несет </li>ответственности за сохранность личных вещей.
                <li>За технические неудобства, вызванные поломками, либо проведением коммунальными службами, профилактических и ремонтно-строительных работ, фитнес-клуб «Титан» </li>ответственности не несет.
                <li>Кино - и фотосъемка без договоренности с администрацией клуба запрещена.</li>
                <li>Запрещается проводить любые публичные акции, не согласованные с администрацией клуба. Под публичными акциями подразумевается  распространение разного рода </li>раздаточного материала, проведение рекламных или маркетинговых акций в политических, коммерческих либо других целях на территории Клуба.
                <li>Самостоятельное пользование музыкальной и другой аппаратурой клуба запрещено.</li>
                <li>Посещение фитнес-клуба в состоянии алкогольного или наркотического опьянения, с явными признаками нездорового состояния запрещено.</li>
                <li>Все помещения клуба являются зонами, свободными от курения.</li>
                <li>За пропавшие на территории клуба деньги и личные вещи Клиента администрация ответственности не несет. Забытые и найденные вещи хранятся в Клубе в течении 14 </li>дней, при этом клуб и сотрудники клуба не несут ответственности за их сохранность.
                <li>На территории Клуба запрещено пользоваться парфюмерными средствами и мазями с резкими запахами.</li>
                <li>Во время пользования услугами Клуба Клиент должен воздерживаться от проявлений расовой, национальной, религиозной или иной нетерпимости, громких, оскорбительных, нецензурных выражений, грубости по отношению к персоналу, непристойного поведения и жестов по отношению к другим членам клуба или к сотрудникам, т. е. действий, которые противоречат общепринятым морально-этическим нормам, использования ненормативной лексики.</li>
                <li>Вещи в шкафах в клубе хранятся только на время тренировок. После тренировки шкаф должен быть освобожден. Запрещается оставлять вещи в шкафу после тренировок, закрывать замком пустой шкаф. Администрация Клуба имеет право открывать шкафы и изымать вещи в случае их хранения в отличное от времени тренировок время.</li>
                <li>Для длительного хранения своих вещей в Клубе предусмотрена аренда ячеек камеры хранения. Услуга платная в соответствии с прайс-листом. Оплата производится предварительно за 5 дней до окончания срока аренды. По истечении 5 дней после окончания срока аренды и неоплаты вещи изымаются и хранятся в клубе. За хранение вещей — оплата в соответствии с прайс-листом.</li>
                <li>Правила клуба являются обязательными для всех посетителей, включая покупателей разового абонемента, клиентов, занимающихся персонально и сопровождающих их.</li>
                <li>При нарушении Правил Клуба Администрация оставляет за собой право пересмотреть или прекратить действие Вашего абонемента (карты) без компенсации неиспользованного времени</li>
            </ol>
            <h4 class="text-center text-uppercase font-weight-bold">ПРАВИЛА ПОСЕЩЕНИЯ ТРЕНАЖЕРНОГО ЗАЛА</h4>
            <ol>
                <li>Занятия в тренажерном зале проводятся в зависимости от вида абонемента. Посещение тренажерного зала во временной отрезок, не предусмотренный абонементом, оплачивается в соответствии с действующим прайс-листом. Клуб не ограничивает время пребывания в тренажерном зале в рамках действия абонемента.</li>
                <li>Самостоятельные занятия в тренажерном зале разрешены с 16 лет. Клиенты  младше 16 лет могут заниматься в тренажерном зале только по составленной тренером программе.</li>
                <li>Силовые упражнения с максимальными весами в тренажерном зале рекомендуется выполнять с тренером или партнером.</li>
                <li>После работы со свободными весами Клиент обязан убирать блины со штанг, ставить гантели  на гантельную стойку.</li>
                <li>Любой из тренажеров может быть ограничен для пользования в любой момент (ремонт, профилактические работы).</li>
                <li>После окончания тренировки спортивный инвентарь и оборудование должны быть возвращены на специально отведенные для этого места.</li>
            </ol>
            <h4 class="text-center text-uppercase font-weight-bold">ПРАВИЛА ТЕХНИКИ БЕЗОПАСНОСТИ</h4>
            <ol>
                <li>Если Вы не знаете, как использовать то или иное оборудование, как правильно выполнить упражнение – обратитесь к тренеру!</li>
                <li>Не приходите на тренировки голодными. Последний прием пищи рекомендуется за 1-1,5 часа до тренировки.</li>
                <li>Во время тренировки рекомендуем Вам выпивать достаточное количество воды  (до 1 л.), особенно в жару.</li>
                <li>При любых травматических повреждениях немедленно обратитесь к персоналу клуба за первой медицинской помощью.</li>
            </ol>
        </div>
    </div>
</section>