<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center"> <i class="circle"><img src="assets/images/thumb_DSC_0036.png" alt="" /></i>
                <h4>СПОРТИВНЫЙ ЗАЛ</h4>
                <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
            </div>
            <div class="col-md-3 text-center"> <i class="circle"><img src="assets/images/thumb_DSC_0036.png" alt="" /></i>
                <h4>ФИТНЕС ЗАЛ</h4>
                <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
            </div>

            <div class="col-md-3 text-center"> <i class="circle"><img src="assets/images/thumb_DSC_0036.png" alt="" /></i>
                <h4>ЗАЛ БОКСА</h4>
                <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
            </div>
            <div class="col-md-3 text-center"> <i class="circle"><img src="assets/images/thumb_DSC_0036.png" alt="" /></i>
                <h4>МЯГКИЙ ЗАЛ</h4>
                <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
            </div>
        </div>
    </div>
</section>