<section id="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="assets/images/slider/slide1.jpg" /></li>
                        <li><img src="assets/images/slider/slide2.jpg" /></li>
                        <li><img src="assets/images/slider/slide3.jpg" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>