{% extends "admin/layout.html" %}
{% block title %}Цены{% endblock %}
{% block content %}
<div class="container">
    <h2>Расценки</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Цена для взрослых</th>
                <th>Цена для студентов</th>
                <th>Цена для школьников</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            {% for plan in items %}
            <tr>
                <td>{{ plan.id }}</td>
                <td>{{ plan.name }}</td>
                <td>{{ plan.price_adult }}</td>
                <td>{{ plan.price_students }}</td>
                <td>{{ plan.price_schools }}</td>
                <td>
                    <a href="/admin/plan/{{ plan.id }}/"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="/admin/plan/{{ plan.id }}/"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="/admin/plan/delete/{{ plan.id }}/" data-confirm="Вы уверены?" data-method="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" href="/admin/plan/add/">Добавить</a>
</div>
{% endblock %}